VITE_FIREBASE_API_KEY=AIzaSyC35x77IWhfJ_10GEXfCkqx7sSva2RaQFs
VITE_FIREBASE_AUTH_DOMAIN=zeno-37a0f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=zeno-37a0f
VITE_FIREBASE_STORAGE_BUCKET=zeno-37a0f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=406971302069
VITE_FIREBASE_APP_ID=1:406971302069:web:8c3b49a9032c3c7a273efc